*{
    margin: 0;
    padding: 5px;
}
.signup-container{
    background-color: #070707;
    width: 40vh;
    color: white;
    height: 70vh;
}
a{
    color: green;
}
.signup-container .link{
margin-top: 1rem;}
.signup-container h2{
    margin-top: 1rem;
}
label{
    margin-top: 3rem;
}
button{
    margin-top: 1rem;
    align-items: center;
    margin-left: 1.2rem;
    padding: 10px 80px;
}
button a{
    color: #070707;

}